<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.purchasecooperation.cux.infra.mapper.SinochemintlPoPlanHeaderMapper">

    <sql id="mappingChanges">
        SELECT sph.pr_header_id        poPlanHeaderId,
               sph.tenant_id           tenantId,
               sph.title               title,
               sph.pr_status_code      status,
               sph.attribute_varchar23 planType,
               sph.pr_num              poPlanNumber,
               sph.requested_by        createId,
               sph.pr_requested_name   createName,
               sph.attribute_datetime1 deadline,
               sph.parent_unit_id      companyId,
               hc.company_name         companyName,
               sph.attribute_bigint11  businessId,
               hou.ou_name             businessName,
               sph.purchase_org_id     purchaseOrgId,
               hpo.organization_name   purchaseOrgName,
               sph.purchase_agent_id   purchaseId,
               hpa.purchase_agent_name purchaseName,
               sph.pr_source_platform  poSource,
               sph.pr_requested_name   applicant,
               sph.unit_id             departmentId,
               hu.unit_name            departmentName,
               sph.request_date        applicationDate,
               sph.original_currency   originalId,
               sc.currency_name        currencyName,
               sph.attribute_varchar24 planIllustrate,
               sph.creation_date       creationDate,
               (SELECT SUM(unit_price) FROM sprm_pr_line WHERE pr_header_id = #{poPlanHeaderId})
                                       applicationSum
        FROM sprm_pr_header sph
                 LEFT JOIN sprm_pr_line spl ON spl.pr_header_id = sph.pr_header_id
                 LEFT JOIN hpfm_company hc ON hc.company_id = sph.parent_unit_id
                 LEFT JOIN hpfm_purchase_organization hpo ON hpo.purchase_org_id = sph.purchase_org_id
                 LEFT JOIN hpfm_purchase_agent hpa ON hpa.purchase_agent_id = sph.purchase_agent_id
                 LEFT JOIN hpfm_unit hu ON hu.unit_id = sph.unit_id
                 LEFT JOIN smdm_currency sc ON sc.currency_id = sph.original_currency
                 LEFT JOIN hpfm_operation_unit hou ON hou.ou_id = sph.attribute_bigint11
    </sql>

    <!--    保存头表-->
    <insert id="setOne">
        INSERT INTO sprm_pr_header (tenant_id,
                                    title,
                                    pr_status_code,
                                    attribute_varchar23,
                                    pr_num,
                                    requested_by,
                                    pr_requested_name,
                                    attribute_datetime1,
                                    parent_unit_id,
                                    purchase_org_id,
                                    purchase_agent_id,
                                    pr_source_platform,
                                    pr_requested_name,
                                    unit_id,
                                    request_date,
                                    original_currency,
                                    attribute_varchar24,
                                    creation_date,
                                    display_pr_num,
                                    lot_num,
                                    attribute_bigint11)
            VALUE (#{tenantId},
            #{title},
            #{status},
            #{planType},
            #{poPlanNumber},
            #{createId},
            #{createName},
            #{deadline},
            #{companyId},
            #{purchaseOrgId},
            #{purchaseId},
            #{poSource},
            #{applicant},
            #{departmentId},
            #{applicationDate},
            #{originalId},
            #{planIllustrate},
            #{creationDate},
            #{poPlanNumber},
            '0',
            #{businessId}
            )
    </insert>

    <!--    根据头表id修改-->
    <update id="updateByKey">
        update sprm_pr_header
        set sph.title               = #{title},
            sph.pr_status_code      = #{status},
            sph.attribute_varchar23 = #{planType},
            sph.pr_num              = #{poPlanNumber},
            sph.requested_by        = #{createId},
            sph.pr_requested_name   = #{createName},
            sph.attribute_datetime1 = #{deadline},
            sph.parent_unit_id      = #{companyId},
            sph.purchase_org_id     = #{purchaseOrgId},
            sph.purchase_agent_id   = #{purchaseId},
            sph.pr_source_platform  = #{poSource},
            sph.pr_requested_name   = #{applicant},
            sph.unit_id             = #{departmentId},
            sph.request_date        = #{applicationDate},
            sph.original_currency   = #{originalId},
            sph.attribute_varchar24 = #{planIllustrate},
            sph.creation_date       = #{creationDate},
            sph.attribute_bigint11  = #{businessId}
        where pr_header_id = #{poPlanHeaderId}
    </update>

    <!--    根据头表id删除-->
    <delete id="deleteByKey">
        DELETE
        FROM sprm_pr_header
        WHERE pr_header_id = #{poPlanHeaderId}
    </delete>

    <!--    采购计划头表查询参数-->
    <select id="list" resultType="org.srm.purchasecooperation.cux.api.dto.SinochemintlPoPlanHeaderDTO">
        <include refid="mappingChanges"/>
        WHERE sph.tenant_id = #{tenantId}
        <if test="poPlanNumber != null and poPlanNumber != ''">
            <bind name="poPlanNumberLike" value="'%' + poPlanNumber + '%'"/>
            AND sph.pr_num like #{poPlanNumberLike}
        </if>
        <if test="title != null and title != ''">
            <bind name="titleLike" value="'%' + title + '%'"/>
            AND sph.title like #{titleLike}
        </if>
        <if test="status != null and status != ''">
            AND sph.attribute_bigint11 = #{status}
        </if>
        <if test="defaultCompanyId != null and defaultCompanyId != ''">
            <bind name="defaultCompanyIdLike" value="'%|' + defaultCompanyId + '|%'"/>
            AND spl.attribute_varchar23 like #{defaultCompanyIdLike} OR sph.requested_by = #{createId}
        </if>
        GROUP BY sph.pr_header_id
    </select>

    <!--    根据头表id查询-->
    <select id="selectByKey" resultType="org.srm.purchasecooperation.cux.api.dto.SinochemintlPoPlanHeaderDTO">
        <include refid="mappingChanges"/>
        WHERE sph.pr_header_id = #{poPlanHeaderId}
    </select>

</mapper>