<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.purchasecooperation.cux.infra.mapper.SinochemintlPoPlanLineMapper">

    <sql id="mappingChanges">
        SELECT spl.pr_line_id          poPlanLineId,
               spl.pr_header_id        poPlanHeaderId,
               spl.tenant_id           tenantId,
               spl.attribute_varchar22 status,
               spl.attribute_bigint14  spellDocProvince,
               spl.needed_date         needDate,
               spl.attribute_varchar23 planSharedProvince,
               spl.company_id          provinceCompanyId,
               spl.project_name        provinceCompany,
               spl.product_name        productName,
               spl.attribute_varchar24 specification,
               spl.supplier_name       initialSupplier,
               spl.unit_price          factoryPrice,
               spl.attribute_varchar25 deliveryAddress,
               spl.item_code           materialCoding,
               spl.quantity            requiredQuantity,
               spl.uom_id              uomCode,
               spl.currency_code       currencyType,
               spl.attribute_varchar38 freightSupplier,
               spl.line_freight        freightPrice,
               spl.attribute_varchar39 priceTerms,
               spl.remark              remark,
               spl.tax_code            taxType,
               spl.tax_rate            taxRate,
               spl.pr_requested_name   applicant,
               spl.attachment_uuid     appendixId
        FROM sprm_pr_header sph
                 LEFT JOIN sprm_pr_line spl
                           ON spl.pr_header_id = sph.pr_header_id
    </sql>

    <!--    保存行表-->
    <insert id="setOne">
        INSERT INTO sprm_pr_line (pr_header_id,
                                  tenant_id,
                                  attribute_varchar22,
                                  attribute_bigint14,
                                  needed_date,
                                  attribute_varchar23,
                                  project_name,
                                  product_name,
                                  attribute_varchar24,
                                  supplier_name,
                                  unit_price,
                                  attribute_varchar25,
                                  item_code,
                                  quantity,
                                  uom_id,
                                  currency_code,
                                  attribute_varchar38,
                                  line_freight,
                                  attribute_varchar39,
                                  remark,
                                  tax_code,
                                  tax_rate,
                                  pr_requested_name,
                                  display_line_num,
                                  company_id,
                                  attachment_uuid)
            VALUE (#{poPlanHeaderId},
            #{tenantId},
            #{status},
            #{spellDocProvince},
            #{needDate},
            #{planSharedProvince},
            #{provinceCompany},
            #{productName},
            #{specification},
            #{initialSupplier},
            #{factoryPrice},
            #{deliveryAddress},
            #{materialCoding},
            #{requiredQuantity},
            #{uomCode},
            #{currencyType},
            #{freightSupplier},
            #{freightPrice},
            #{priceTerms},
            #{remark},
            #{taxType},
            #{taxRate},
            #{applicant},
            #{serialNum},
            #{provinceCompanyId},
            #{appendixId}
            )
    </insert>

    <!--    根据行表id修改-->
    <update id="updateByKey">
        update sprm_pr_line
        set attribute_varchar22 = #{status},
            attribute_bigint14  = #{spellDocProvince},
            needed_date         = #{needDate},
            attribute_varchar23 = #{planSharedProvince},
            company_id          = #{provinceCompanyId},
            project_name        = #{provinceCompany},
            product_name        = #{productName},
            attribute_varchar24 = #{specification},
            supplier_name       = #{initialSupplier},
            unit_price          = #{factoryPrice},
            attribute_varchar25 = #{deliveryAddress},
            item_code           = #{materialCoding},
            quantity            = #{requiredQuantity},
            uom_id              = #{uomCode},
            currency_code       = #{currencyType},
            attribute_varchar38 = #{freightSupplier},
            line_freight        = #{freightPrice},
            attribute_varchar39 = #{priceTerms},
            remark              = #{remark},
            tax_code            = #{taxType},
            tax_rate            = #{taxRate},
            pr_requested_name   = #{applicant},
            attachment_uuid     = #{appendixId}
        where pr_line_id = #{poPlanLineId}
    </update>

    <!--    根据头表id删除-->
    <delete id="deleteByKey">
        DELETE
        FROM sprm_pr_line
        WHERE pr_line_id = #{poPlanLineId}
    </delete>

    <!--    根据行表id查询-->
    <select id="selectByKey" resultType="org.srm.purchasecooperation.cux.api.dto.SinochemintlPoPlanLineDTO">
        <include refid="mappingChanges"/>
        WHERE sph.pr_line_id = #{poPlanLineId}
    </select>

    <!--    根据头表id查询-->
    <select id="selectByHeaderId" resultType="org.srm.purchasecooperation.cux.api.dto.SinochemintlPoPlanLineDTO">
        <include refid="mappingChanges"/>
        WHERE sph.tenant_id = #{organizationId}
        sph.pr_line_id = #{poPlanLineId}
    </select>

</mapper>