<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.srm.purchasecooperation.cux.infra.mapper.SinochemintlPoPlanLineMapper">

    <sql id="mappingChanges">
        SELECT spl.pr_line_id          poPlanLineId,
               spl.pr_header_id        poPlanHeaderId,
               spl.tenant_id           tenantId,
               spl.attribute_varchar37 status,
               spl.attribute_bigint14  spellDocProvince,
               spl.needed_date         needDate,
               spl.attribute_longtext9 planSharedProvince,
               spl.company_id          provinceCompanyId,
               hc.company_name         provinceCompany,
               spl.product_name        productName,
               spl.attribute_varchar24 specification,
               spl.supplier_id         initialSupplierId,
               spl.supplier_name       initialSupplier,
               spl.attribute_varchar39 endSupplier,
               spl.attribute_decimal3  endPrice,
               spl.unit_price          factoryPrice,
               spl.attribute_varchar25 deliveryAddress,
               spl.item_id             materialId,
               spl.item_code           materialCoding,
               sic.category_name       materialClass,
               spl.quantity            requiredQuantity,
               spl.uom_id              uomId,
               su.uom_name             unitName,
               spl.currency_code       currencyId,
               sc.currency_name        currencyName,
               spl.attribute_varchar38 freightSupplier,
               spl.line_freight        freightPrice,
               spl.attribute_varchar40 priceTerms,
               spl.remark              remark,
               spl.tax_id              taxId,
               st.description          taxType,
               spl.tax_rate            taxRate,
               spl.requested_by        applicantId,
               spl.pr_requested_name   applicant,
               spl.line_num            serialNum,
               spl.display_line_num    displayLineNum,
               spl.attribute_bigint15  sharedProvinceId,
               spl.attribute_decimal4  totalPurchasePrice,
               spl.attribute_decimal5  totalPurchaseFinalPrice,
               spl.attachment_uuid     appendixId,
               sph.title               title,
               sph.attribute_varchar23 planType,
               sph.attribute_datetime1 deadline,
               sph.parent_unit_id      companyId,
               hc1.company_name        companyName,
               sph.attribute_bigint11  businessId,
               hou.ou_name             businessName,
               sph.purchase_org_id     purchaseOrgId,
               hpo.organization_name   purchaseOrgName,
               sph.purchase_agent_id   purchaseId,
               hpa.purchase_agent_name purchaseName,
               sph.unit_id             departmentId,
               hu.unit_name            departmentName,
               sph.requested_by        createId,
               sph.pr_requested_name   createName,
               sph.creation_date       establishDate,
               sph.attribute_decimal1  applicationSum,
               sph.attribute_decimal2  applicationFinalSum,
               sph.pr_num              poPlanNumber
        FROM sprm_pr_header sph
                 LEFT JOIN sprm_pr_line spl ON spl.pr_header_id = sph.pr_header_id
                 LEFT JOIN smdm_item si ON si.item_id = spl.item_id
                 LEFT JOIN smdm_item_category sic
                           ON sic.category_code = si.attribute_varchar5 and sic.tenant_id = spl.tenant_id
                 LEFT JOIN smdm_tax st ON spl.tax_id = st.tax_id
                 LEFT JOIN smdm_uom su ON su.uom_id = spl.uom_id
                 LEFT JOIN smdm_currency sc ON sc.currency_id = spl.currency_code
                 LEFT JOIN hpfm_company hc ON hc.company_id = spl.company_id
                 LEFT JOIN hpfm_company hc1 ON hc1.company_id = sph.parent_unit_id
                 LEFT JOIN hpfm_purchase_organization hpo ON hpo.purchase_org_id = sph.purchase_org_id
                 LEFT JOIN hpfm_purchase_agent hpa ON hpa.purchase_agent_id = sph.purchase_agent_id
                 LEFT JOIN hpfm_unit hu ON hu.unit_id = sph.unit_id
                 LEFT JOIN hpfm_operation_unit hou ON hou.ou_id = sph.attribute_bigint11
    </sql>

    <!--    保存行表-->
    <insert id="setOne">
        INSERT INTO sprm_pr_line (pr_header_id,
                                  tenant_id,
                                  attribute_varchar37,
                                  attribute_bigint14,
                                  needed_date,
                                  attribute_longtext9,
                                  product_name,
                                  attribute_varchar24,
                                  supplier_id,
                                  supplier_name,
                                  unit_price,
                                  attribute_varchar25,
                                  item_id,
                                  item_code,
                                  quantity,
                                  uom_id,
                                  currency_code,
                                  attribute_varchar38,
                                  line_freight,
                                  attribute_varchar40,
                                  remark,
                                  tax_id,
                                  tax_rate,
                                  requested_by,
                                  pr_requested_name,
                                  line_num,
                                  display_line_num,
                                  company_id,
                                  attribute_bigint15,
                                  attribute_decimal4,
                                  attribute_decimal5,
                                  attachment_uuid)
            VALUE (#{poPlanHeaderId},
            #{tenantId},
            #{status},
            #{spellDocProvince},
            #{needDate},
            #{planSharedProvince},
            #{productName},
            #{specification},
            #{initialSupplierId},
            #{initialSupplier},
            #{factoryPrice},
            #{deliveryAddress},
            #{materialId},
            #{materialCoding},
            #{requiredQuantity},
            #{uomId},
            #{currencyId},
            #{freightSupplier},
            #{freightPrice},
            #{priceTerms},
            #{remark},
            #{taxId},
            #{taxRate},
            #{applicantId},
            #{applicant},
            #{serialNum},
            #{displayLineNum},
            #{provinceCompanyId},
            #{sharedProvinceId},
            #{totalPurchasePrice},
            #{totalPurchaseFinalPrice},
            #{appendixId}
            )
    </insert>

    <!--    根据行表id修改-->
    <update id="updateByKey">
        update sprm_pr_line
        set attribute_bigint14  = #{spellDocProvince},
            needed_date         = #{needDate},
            attribute_varchar37 = #{status},
            attribute_longtext9 = #{planSharedProvince},
            company_id          = #{provinceCompanyId},
            product_name        = #{productName},
            attribute_varchar24 = #{specification},
            supplier_id         = #{initialSupplierId},
            supplier_name       = #{initialSupplier},
            attribute_varchar39 = #{endSupplier},
            attribute_decimal3  = #{endPrice},
            unit_price          = #{factoryPrice},
            attribute_varchar25 = #{deliveryAddress},
            item_id             = #{materialId},
            item_code           = #{materialCoding},
            quantity            = #{requiredQuantity},
            uom_id              = #{uomId},
            currency_code       = #{currencyId},
            attribute_varchar38 = #{freightSupplier},
            line_freight        = #{freightPrice},
            attribute_varchar40 = #{priceTerms},
            remark              = #{remark},
            tax_id              = #{taxId},
            tax_rate            = #{taxRate},
            pr_requested_name   = #{applicant},
            attribute_bigint15  = #{sharedProvinceId},
            attribute_decimal4  = #{totalPurchasePrice},
            attribute_decimal5  = #{totalPurchaseFinalPrice},
            attachment_uuid     = #{appendixId}
        where pr_line_id = #{poPlanLineId}
    </update>

    <!--    批量维护-->
    <update id="batchMaint">
        update sprm_pr_line
        set tenant_id = #{tenantId}
        <if test="needDate != null">
            ,needed_date = #{needDate}
        </if>
        where pr_header_id = #{poPlanHeaderId}
        and tenant_id = #{tenantId}
    </update>

    <!--    根据头表id删除-->
    <delete id="deleteByKey">
        DELETE
        FROM sprm_pr_line
        WHERE pr_line_id = #{poPlanLineId}
    </delete>

    <!--    根据行表id查询-->
    <select id="selectByKey" resultType="org.srm.purchasecooperation.cux.api.dto.SinochemintlPoPlanLineDTO">
        <include refid="mappingChanges"/>
        WHERE spl.pr_line_id = #{poPlanLineId}
    </select>

    <!--    根据头表id查询-->
    <select id="selectByHeaderId" resultType="org.srm.purchasecooperation.cux.api.dto.SinochemintlPoPlanLineDTO">
        <include refid="mappingChanges"/>
        WHERE sph.tenant_id = #{tenantId}
        and spl.pr_header_id = #{poPlanHeaderId}
        <if test="poPlanLineIds != null">
            AND spl.pr_line_id in
            <foreach collection="poPlanLineIds" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
            OR spl.requested_by = #{applicantId}
            and spl.pr_header_id = #{poPlanHeaderId}
        </if>
        GROUP BY spl.pr_line_id
        ORDER BY display_line_num
    </select>

    <!--    获取共享计划省区-->
    <select id="getPlanSharedProvince" resultType="java.lang.String">
        SELECT company_name FROM hpfm_company
        WHERE company_id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <!--    获取当前排序-->
    <select id="getSerialNum" resultType="java.lang.Integer">
        SELECT line_num
        FROM sprm_pr_line
        where pr_header_id = #{poPlanHeaderId}
        ORDER BY line_num DESC LIMIT 1
    </select>
    <select id="getDisplayLineNum" resultType="java.lang.Integer">
        SELECT display_line_num
        FROM sprm_pr_line
        where pr_header_id = #{poPlanHeaderId}
            and attribute_bigint15 = #{sharedProvinceId}
           OR pr_line_id = #{sharedProvinceId}
        ORDER BY display_line_num DESC LIMIT 1
    </select>

    <!--    共享计划省区校验-->
    <select id="sharedProvinceVerify" resultType="org.srm.purchasecooperation.cux.api.dto.SinochemintlPoPlanLineDTO">
        SELECT company_id provinceCompanyId,
        company_name provinceCompany
        FROM hpfm_company
        WHERE company_name in
        <foreach collection="list" item="name" open="(" close=")" separator=",">
            #{name}
        </foreach>
    </select>

    <!--    采购计划明细查询-->
    <select id="detailList" resultType="org.srm.purchasecooperation.cux.api.dto.SinochemintlPoPlanLineDTO">
        <include refid="mappingChanges"/>
        WHERE sph.tenant_id = #{tenantId}
        AND sph.lot_num = 'PO_PLAN'
        <if test="poPlanNumber != null and poPlanNumber != ''">
            <bind name="poPlanNumberLike" value="'%' + poPlanNumber + '%'"/>
            AND sph.pr_num like #{poPlanNumberLike}
        </if>
        <if test="title != null and title != ''">
            <bind name="titleLike" value="'%' + title + '%'"/>
            AND sph.title like #{titleLike}
        </if>
        <if test="poSource != null and poSource != ''">
            <bind name="poSourceLike" value="'%' + poSource + '%'"/>
            AND sph.pr_source_platform like #{poSourceLike}
        </if>
        <if test="status != null and status != ''">
            AND sph.pr_status_code = #{status}
        </if>
        <if test="departmentId != null and departmentId != ''">
            AND sph.unit_id = #{departmentId}
        </if>
        <if test="companyId != null and companyId != ''">
            AND sph.parent_unit_id = #{companyId}
        </if>
        <if test="materialClass != null and materialClass != ''">
            AND sic.category_name = #{materialClass}
        </if>
        <if test="serialNum != null and serialNum != ''">
            AND spl.display_line_num = #{serialNum}
        </if>
        <if test="materialCoding != null and materialCoding != ''">
            AND spl.item_code = #{materialCoding}
        </if>
        <if test="applicant != null and applicant != ''">
            AND spl.pr_requested_name = #{applicant}
        </if>
        <if test="createId != null and createId != ''">
            AND sph.requested_by = #{createId}
        </if>
        <if test="purchaseOrgId != null and purchaseOrgId != ''">
            AND sph.purchase_org_id = #{purchaseOrgId}
        </if>
        <if test="purchaseId != null and purchaseId != ''">
            AND sph.purchase_agent_id = #{purchaseId}
        </if>
        <if test="planType != null and planType != ''">
            AND sph.attribute_varchar23 = #{planType}
        </if>
        <if test="createId != null and createId != ''">
            AND spl.pr_line_id in
            <foreach collection="poPlanLineIds" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
            OR sph.requested_by = #{createId}
        </if>
        GROUP BY spl.pr_line_id
        ORDER BY sph.creation_date DESC
    </select>

    <select id="verifyPlanSharedProvince" resultType="java.lang.Long">
        SELECT pr_line_id
        FROM sprm_pr_line
        WHERE tenant_id = #{tenantId}
        <if test="poPlanHeaderId != null and poPlanHeaderId != ''">
            AND pr_header_id = #{poPlanHeaderId}
        </if>
        <bind name="provinceCompanyLike" value="'%:' + provinceCompanyId + ',%'"/>
        AND attribute_longtext9 like #{provinceCompanyLike}
    </select>

    <select id="spellDocProvince"
            resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM sprm_pr_line
        WHERE attribute_bigint15 = #{sharedProvinceId}
          and company_id = #{provinceCompanyId}
          and attribute_varchar37 = 'SPLICING_DOC_COMPLETE'
    </select>

</mapper>